html{
    font-size: 625%;
}

.sp-b{
    font-weight: bold;
}
.sp-bl{
    color: #000000;
}
.sp-green{
    color: #1cb177;
}
.sp-gy{
    color: #c8c8c8;
}
.sp-red{
    color: red;
}

.sp-12{
    font-size:.12rem ;
}
.sp-10{
    font-size: .1rem;
}
.sp-16{
    font-size: .16rem;
}
.x-1of2{
    flex-basis: 50%;
  }
.x-3of8{
    flex-basis:37.5%;
}
.x-1of3{
    flex-basis:33.3333%;
}
.job-warp{
    padding: 0 5%;
    line-height: .4rem;
    font-size: .14rem;
    color:#1cb177;
    text-align: right;
}
.job-warp span{
    float: left;
}
.job-warp-icon{
    margin: 0 1%;

}
/*以上为job-warp*/

.job-nav{
    line-height: 1rem;
    font-size: .14rem;
    text-align:left;
    padding: 0 5%;
    background-color: #1cb177;
}
.job-nav a{
    height: 1rem;
    width: 50px;
    float: right;
    text-align: center;
    margin: 0 1%;
    color: white;
    text-decoration: none;
}
.job-nav a:hover{
    border-bottom: 2px white solid;
}
/*以上为header*/
.job-main{
    padding: 0 10% 5% 10%;
    box-sizing: border-box;
}

.job-main-nav{
    line-height: .5rem;
    border-bottom: #c8c8c8 1px solid;
}
.job-main-subnav{
    line-height: .4rem;
    border-bottom: #ededed 1px solid;
}
.job-main-subnav a{
    margin: 0 .1rem;
    color: black;
    text-decoration: none;
}
.job-main-subnav a:hover{
    background-color: #1cb177;
    color: white;
}
.content-sp1{
    display: inline-block;
    line-height: .5rem;
    width: 100%;
    min-width: 9.94rem;

    border-bottom: #bfbfbf 1px solid;
    margin-top: .3rem;
}
.-job-main-ct-grp{
    width: 100%;
    min-width: 9.94rem;
    display: flex;
    flex-wrap: wrap;
}
.job-intro{
    position: relative;
    height:auto;
    width: 32%;
    min-width:3.17rem;
    margin: .3rem 0 0 0;
    border: 1px #e9e9e9 solid;
}
.job-intro-hover{
    position: absolute;
    width:100%;
    height:100%;
    color: white;
    background-color:rgba(0,0,0,0.7);
    padding: .3rem .4rem;
    display: none;
    z-index: 11;
}
.job-intro:hover .job-intro-hover{
    display: block;
}
.job-intro-hover h4{
    text-align: center;
}
.job-intro-hover p{
    text-indent: 2em;
}

.intro-mid{
    margin-right: 2%;
    margin-left: 2%;
}
.img-head{
    width: 90px;
    height: 110px;
    margin-right: 5px;
}
.intro-title{
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom:1px #e9e9e9 solid;
    border-right: 1px #e9e9e9 solid;
    padding: .05rem .05rem;
}

.intro-line1,.intro-line2{
    display:flex;
    line-height: .25rem;
}
.img-star{
    margin-left:.05rem ;
    transform: scale(.8,.8);
}
.line-sp{
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-bottom: #e9e9e9 1px solid;
    border-right: #e9e9e9 1px solid;
}
.intro-line3{
    display: flex;
}
.line3{
    text-align: center;
    line-height: .75rem;
    padding: 0 .05rem;
    border-bottom: #e9e9e9 1px solid;
    border-right:#e9e9e9 1px solid;
}
.line3-1to3{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.line3-1,.line3-2,.line3-3{
    display: flex;
    line-height: .25rem;
    justify-content: space-between;
    padding: 0 .05rem;
    border-right:#e9e9e9 1px solid;
    border-bottom: #e9e9e9 1px solid;
}
.intro-line4{
    line-height: .25rem;
    padding: 0 .05rem;
    border-right:#e9e9e9 1px solid;
    border-bottom: #e9e9e9 1px solid;

}
.intro-line5{
    line-height: .25rem;
    vertical-align: center;
    border-right:#e9e9e9 1px solid;
    border-bottom: #e9e9e9 1px solid;
}
footer{
    height: 2rem;
    background-color: #1aa36f;
    font-size: 14px;
    min-width: 11.63rem;
}

.ft-top{
    height:1.6rem;
    padding: .2rem 10%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.ft-top a{
    color: white;
    text-decoration: none;
}
.ft-top-lt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ft-top-lt span{
}
.ft-top-mid{
    display: flex;
    height: 1.2rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:end;
    margin-left: -1rem;
}

.ft-top-mid a{
    line-height: .4rem;
    margin-left: .2rem;
}

.ft-top-rt{
    text-align: center;
}
.ft-bt{
    padding: 0 10%;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    width: 100%;
    color: white;
    border-top: #2ab983  1px solid;
    font-size: 12px;
}


